/* Move the sidebar into the header. */
#sidebar {
    /* Creates a nice space between lines. */
    line-height: 3ex;
    float: none;
    width: 100%;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#sidebar, #header, #header a {
    background: #000000;
    color: #EEEEEE !important;
}

#header {
    padding-top: 20px;
    padding-bottom: 2px;
}

body {
    margin: 0px;
}

#title {
    font-size: 30px;
}

#header a {
    text-decoration: none;
}

/* Centre the page contents. */
#header-inner, #content-inner, #footer-inner {
    margin-right: auto;
    margin-left: auto;
    /* XXX Why does the page not narrow when there's no content? */
    max-width: 90ex;
}

/* Put the last modified date on the right, in a smaller, lighter font. */
.pagedate {
    text-align: right;
    font-size: smaller;
    font-weight: lighter;
}

/* The border is intrusive when the footer only contains the date. */
#pageinfo {
    border-top: none;
}

/* package tables */
.package td {
    vertical-align: top;
    padding-left: 1ex;
}

/* Table of contents */
.toc li.L3 {
	list-style: upper-roman;
}
.toc li.L4 {
	list-style: decimal;
}

/* Inline pages */
.inlinefooter {
    border-style: dotted none dotted none;
    border-color: #CCCCCC;
    padding-bottom: 10px;
    border-width: thin;
}
.inlinepage {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

/* Make text in code blocks wrap to be mobile-friendly. */
pre {
  white-space: pre-wrap;
}
